@{
    ViewData["Title"] = "About";
}

<link rel="stylesheet" href="~/css/newstyle.css" />

<!-- /content-6-main-->
	<div class="content-6-mian py-5">
		<div class="container py-lg-5">
			<div class="content-info-in row">
				<div class="col-lg-6">
					<img src="~/images/christian.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-4">
					<div class="title-content text-left mb-2">
						<h3 class="hny-title">
							We are qualified &
							of experience in this field
						</h3>
					</div>
                    <p>
                <h3>
                    01.
                    — Our Mission
                </h3>
                Smyrna Global Outreach has been caring for the poor and needy for the last 16 years and God has been faithful to provide for every need for his work to fulfil the great commission.

                <h3>
                    02.
                    — Our Vision
                </h3>
                The goal of Smyrna Global Outreach Missions is to reach the nations to give them the gospel and to share the love of Jesus by taking care of their basic needs.

                <h3>
                    03.
                    — Our Causes
                </h3>
                <ul>
                    <li>Evangelism</li>
                    <li>Caring for the unprivileged</li>
                    <li>Feeding schemes</li>
                    <li>Clothing distribution</li>
                    <li>Medical assistance</li>
                    <li>Community development and empowerment programmes</li>
                    <li>Church planting</li>
                    <li>Mission mobilization</li>
                    <li>Youth ministry</li>
                    <li>Ministry amongst the prostitutes</li>
                    <li>HIV Aids education and assistance to families</li>
                    <li>Educating the nation</li>
                </ul>
            </p>
					<a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a>
				</div>
				<div class="col-lg-6 mt-5 about-right-faq align-self order2">
					<div class="title-content text-left mb-2">
						<h3 class="hny-title">Our Cause</h3>
					</div>
                <p>
                    To prepare Spirit-filled leaders to share the gospel of Jesus Christ by impacting the lives of those who feel they have no hope.
                    Smyrna Global Outreach is a fully Christian-based organization whose sole purpose is discipleship. Our entire ministry is based on the Great Commission, which our Lord gave to his disciples before he ascended to heaven.

                    “Go ye therefore, and teach all nations, baptizing them in the name of the Father, and of the Son, and of the Holy Ghost:” Matthew 28:19

                    The motive at SGO is to prepare Spirit-filled leaders, who will go into the field wherever the Holy Spirit leads, evangelising and preparing others to spread the Gospel of Jesus Christ.  We are praying for God to make it possible for us to open up our mission school, which will train these Spirit-filled leaders. Holy Spirit Mission School is not a regular mission school where one graduates after receiving a piece of paper. We believe that a missionary is only ready to be sent out when the Holy Spirit says so. An example of this is found in the Book of Acts when the apostles were fasting and praying and the Holy Spirit said,

                    “…Separate me Barnabas and Saul for the work whereunto I have called them.” Acts 13:2

                    We are passionate to reach out to the homeless, drug addicted, single moms, widows, prostitutes and rejects of society; telling them the Good News that Jesus loves them even though the world has rejected them.

                </p>
					<a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a>
				</div>
				<div class="col-lg-6 mt-5 pl-lg-4">
					<img src="~/images/christian2.jpg" alt="" class="img-fluid">
				</div>


			</div>
		</div>
    </div>
