@{
    ViewData["Title"] = "Testimonial Page";
}

<link rel="stylesheet" href="~/css/newstyle.css" />


<!--/testimonials-->
<section class="w3l-testimonials">
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="title-content text-center mb-lg-5 mb-4">
                <h6 class="sub-title">Client Testimonials</h6>
                <h3 class="hny-title">Some words from our success stories</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">

                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/images/person4.jpg" class="img-fluid rounded" alt="client image" style="border-radius: 50px">
                                    </div>
                                    <div class="message">
                                        I can't express enough how Smyrna Global Outreach has completely transformed my life. 
                                        Before finding this incredible organization, I was lost in a downward spiral of addiction and despair. 
                                        But thanks to their unwavering support, guidance, and effective rehabilitation programs, 
                                        I've emerged from the darkness into a brighter, hopeful future. 
                                        The team at Smyrna Global Outreach truly cares about each individual's well-being and personal growth. 
                                        They provided a safe and nurturing environment where I could heal and rediscover my purpose.
                                    </div>
                                    <div class="name">- Kiss Kington</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/images/person3.jpg" class="img-fluid rounded" alt="client image" style="border-radius: 50px">
                                    </div>
                                    <div class="message">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit
                                        id
                                        accusantium
                                        officia quod quasi necessitatibus perspiciatis Harum error provident
                                        quibusdam tenetur.
                                    </div>
                                    <div class="name">- Elizabeth</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>